{% extends '@App/base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        {{ form(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
